html{
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

.form-basic{
    max-width: 640px;
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}


.form-tx-list, .logs-list {
    min-width: 1280px;
    max-width: 1366px;
    width: 100%;
}

.form-basic .form-row {
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title-row{
    text-align: center;
    margin-bottom: 55px;
}


/* The form title */

.form-basic h1{
    display: inline-block;
    box-sizing: border-box;
    color:  #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-basic img#logo-banner {
    width: 100%;
    max-width: 530px;
    margin: 0 auto 35px auto;
}

.form-basic .form-row > label span{
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 180px;
    text-align: right;
    vertical-align: middle;
    padding: 12px 25px;
}


.form-basic table {
    width: 100%;
    border-collapse: collapse;
}
.form-basic table {
    text-align: center;
}
.form-basic table td {
    height: 50px;
    border-bottom: 2px solid #6caee0;
    padding: 5px 10px;
    color: #5F5F5F;
}

.form-basic table td button {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.logs-list ul {
    list-style-type: none;
}

.logs-list ul li {
    width: 100%;
    text-align: left;
    padding: 5px 30px;
    border-bottom: 1px solid #696969;
}

.form-basic div#devices-list {
    width: 100%;
    word-break: break-all;
}

.form-basic input, .form-basic select {
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

.form-basic input[type=radio],
.form-basic input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-basic input[type=checkbox]{
    margin-top: 13px;
}

.form-basic select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basic textarea{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-basic .form-radio-buttons{
    display: inline-block;
    vertical-align: top;
}

.form-basic .form-radio-buttons > div{
    margin-top: 10px;
}

.form-basic .form-radio-buttons label span{
    margin-left: 8px;
    color: #5f5f5f;
    font-weight: normal;
}

.form-basic .form-radio-buttons input{
    width: auto;
}

.form-basic input[type="button"], .form-basic input[type="submit"], a button {
    display: block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin: 40px 183px 0;
    transition: ease-out 150ms;
}

input[type="button"]:hover, input[type="submit"]:hover,  a:hover button {
    cursor: pointer;
    background-color: #696969;
    transition: ease-in 150ms;
}

.form-basic input[type="text"] + input[type="button"] {
    margin-top: 10px;
}

.single-button {
    width: 100%;
    margin: 0 auto;
}


/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-basic{
        padding: 30px;
        max-width: 480px;
    }

    .form-basic .form-row{
        max-width: 300px;
        margin: 25px auto;
        text-align: left;
    }

    .form-basic .form-title-row{
        margin-bottom: 50px;
    }

    .form-basic .form-row > label span{
        display: block;
        text-align: left;
        padding: 0 0 15px;
    }

    .form-basic select{
        width: 240px;
    }

    .form-basic input[type=checkbox]{
        margin-top:0;
    }

    .form-basic .form-radio-buttons > div{
        margin: 0 0 10px;
    }

    .form-basic input[type="button"], .form-basic input[type="submit"], a button{
        margin: 0;
    }

}
