{% extends "layout.html" %}

{% block body %}
    <div class="form-basic form-tx-list">
        <img id="logo-banner" src="../static/img/logo-skcd.png" />
        <div class="form-title-row">
            <h1>Show transactions</h1>
        </div>
        {% if response is defined %}
            <p> {{ response }}</p>
        {% endif %}
        <div class="form-row">
            <a href="{{ url_for('delete_transactions') }}"><button class="single-button">Empty transactions table</button></a></td>
        </div>
        <table id="transactions">
            <tr>
                <th>Token</th>
                <th>Identity</th>
                <th>Message</th>
                <th>Expiration</th>
                <th>Status</th>
                <th>Sk_server</th>
                <th>Notif</th>
            </tr>
            {% for tx in transactions %}
                <tr>
                    <td>{{ tx.token }}</td>
                    <td>{{ tx.identity }}</td>
                    <td>{{ tx.message }}</td>
                    <td>{{ tx.expiration }}</td>
                    <td>{{ tx.status }}</td>
                    {% if tx.status == 'waiting' %}
                        <td><a href="{{ url_for('test_manual', token=tx.token) }}"><button>Send</button></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if tx.status == 'pending' %}
                        <td><a href="{{ url_for('send_notif', token=tx.token, identity=tx.identity) }}"><button>Notify</button></a></td>
                    {% else %}
                        <td></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
