{% extends "layout.html" %}

{% block body %}
    <div class="form-basic">
        <img id="logo-banner" src="../static/img/logo-skcd.png" />
        <div class="form-title-row">
            <h1>Users</h1>
        </div>
        {% if response is defined %}
            <p> {{ response }}</p>
        {% endif %}



        <div class="form-row">
            <label for="new_user">
                <span>Add a new user</span>
                <input id="new_user" name="new_user" type="text">
                <input value="Submit" type="button" onclick="createUser();">
            </label>
        </div>

        <div class="form-row">
            <table id="users">
                <tr>
                    <th>Identity</th>
                    <th>Linked</th>
					<th>Ready</th>
                    <th>Connect</th>
                    <th>Check status</th>
                </tr>
                {% for u in users %}
                    <tr>
                        <td>{{ u.identity }}</td>
                        <td>{{ u.linked }}</td>
						<td>{{ u.pin_set }}</td>
                        {% if u.linked %}
                            <td></td>
                        {% else %}
                            <td><a href="{{ url_for('connect', id_token=u.identity) }}"><button>Connect</button></a></td>
                        {% endif %}
                        <td><a href="{{ url_for('check_link', id_token=u.identity) }}"><button>Check status</button></a></td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <!-- Identity-->
        <div class="form-row">
            <a id="clearusers" href="{{ url_for('delete_users') }}"><button class="single-button">Empty users table</button></a>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/adduser.js') }}"></script>

{% endblock %}
