{% extends "layout.html" %}

{% block body %}
        {% if form is defined %}
            <form class="form-basic" method="POST" action="/transaction/create">
                <img id="logo-banner" src="../static/img/logo-skcd.png" />
                <div class="form-title-row">
                    <h1>New transaction</h1>
                </div>

                <!-- Identity-->
                <div class="form-row">
                    <label for="identity">
                        <span>User</span>
                        <!-- <input id="identity" type="text" name="identity" placeholder="Identity Token" required> -->
                        <select id="identity" name="identity" onfocus="getIdentityTokens()">
                            {% for c in customers %}
                                <option>{{ c.identity }}
                            {% endfor %}
                        </select>
                    </label>
                </div>

                <!-- Message-->
                <div class="form-row">
                    <label for="message">
                        <span>Message</span>
                        <input id="message" type="text" name="message" size="30"
                               placeholder="Transaction message to display" value="confirm 99€ transfer to bob" required autofocus>
                    </label>
                </div>

                <!-- Callback -->
                <div class="form-row">
                    <label for="callback">
                        <span>Callback</span>
                        <input id="callback" name="callback" type="text"
                               value="https://bank.skeyecode.net/transaction/callback/" size="60">
                    </label>
                </div>

                <!-- Expiration -->
                <div class="form-row">
                    <label for="expiration">
                        <span>Expiration</span>
                        <input id="expiration" name="expiration" type="number" value="300">
                    </label>
                </div>
                <div class="form-row">
                    <input type="submit" name="submit" value="Start" />
                </div>
            </form>
        {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock%}
