<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ICE Transaction Generator</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form-basic.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/header.css') }}">
    </head>

    <div class="top">
        <ul class="links">
            <li><a href="{{ url_for('create_tx') }}">New transaction</a></li>
            <li><a href="{{ url_for('display') }}">Show transactions</a></li>
            <li><a href="{{ url_for('display_users') }}">Users</a></li>
            <li><a href="{{ url_for('get_log') }}">Application log</a></li>
			<li><a href="{{ url_for('obtain_code') }}">Get an OAuth token</a></li>
            <li><a href="{{ url_for('test_oauth') }}">Test OAuth authentication</a></li>
        </ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>




    <div class="main-content">
        {% block body %}{% endblock%}
    </div>
</html>
