{% extends "layout.html" %}

{% block body %}
    <div class="form-basic logs-list">
        <img id="logo-banner" src="../static/img/logo-skcd.png" />
        <div class="form-title-row">
            <h1>Application log</h1>
        </div>
        <ul>
            {% for line in content %}
                <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock%}
