{% extends "layout.html" %}

{% block body %}
    <div class="form-basic">
        <img id="logo-banner" src="../static/img/logo-skcd.png" />
        <div class="form-title-row">
            <h1>Linking code</h1>
        </div>

        <div class="form-row">
            <label for="qrcode">
                <span>QR Code</span>
                <span>
                    <div id="qrcode"></div>
                </span>
            </label>
        </div>

        <div class="form-row">
            <label for="progresscircle">
                <span>Time to code refresh</span>
                <span>
                    <div id="progresscircle"></div>
                </span>
            </label>
        </div>

        <div class="form-row">
            <label for="link-token">
                <span>Code to enter</span>
                <span>
                    <p id="link-token">{{ link_token }}</p>
                </span>
            </label>
        </div>
    </div>

    <script>
        var gLinkToken = '{{ link_token }}';
        var gExpirationDate = '{{ link_expires }}';
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/link.js') }}"></script>
{% endblock %}
