<!doctype html>
<html lang="">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Demo server skeyecode</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
  </head>

  <body>
	<h1>Create transaction</h1>

<!-- JS FORM -->
    <!-- <form action="https://xfbdfhbf.fr" method="post" name="tx-create-form"> -->
	<!--   <\!-- Form Name -\-> -->
	<!--   <legend>New transaction</legend> -->

	<!--   <\!-- Message-\-> -->
	<!--   <div class="form-group"> -->
	<!-- 	<label class="col-md-4 control-label" for="message">Message</label> -->
	<!-- 	<div class="col-md-4"> -->
	<!-- 	  <input id="message" name="message" type="text" placeholder="message" class="form-control input-md"> -->
	<!-- 	  <span class="help-block">transaction message</span> -->
	<!-- 	</div> -->
	<!--   </div> -->

	<!--   <\!-- Identity-\-> -->
	<!--   <div class="form-group"> -->
	<!-- 	<label class="col-md-4 control-label" for="identity">Identity</label> -->
	<!-- 	<div class="col-md-4"> -->
	<!-- 	  <input id="identity" name="identity" type="text" placeholder="identitytoken" class="form-control input-md"> -->
	<!-- 	  <span class="help-block">identity token</span> -->
	<!-- 	</div> -->
	<!--   </div> -->

	<!--   <\!-- Callback -\-> -->
	<!--   <div class="form-group"> -->
	<!-- 	<label class="col-md-4 control-label" for="callback">Callback</label> -->
	<!-- 	<div class="col-md-4"> -->
	<!-- 	  <textarea class="form-control" id="callback" name="callback">https://httpbin.org/post</textarea> -->
	<!-- 	  <span class="help-block">MUST BE a valid url accepting POST requests</span> -->
	<!-- 	</div> -->
	<!--   </div> -->

	<!--   <\!-- <button onclick="sendData()">Create tx</button> -\-> -->
	<!--   <\!-- <input value="Submit" type="submit" onclick="sendData()"> -\-> -->
	<!--   <input type="button" name="submit" value="Submit" onclick="sendData();" /> -->
	<!-- </form> -->
<!-- END JS FORM -->

<!-- FLASK FORM -->
	{% if form is defined %}
	{% from "_formhelpers.html" import render_field %}
	<form method="POST" action="/transaction/send">
	  <dl>
		{{ render_field(form.identity) }}
		{{ render_field(form.message) }}
		{{ render_field(form.callback) }}
		{{ render_field(form.expiration) }}

		<input type="submit" value="start">
	  </dl>
	</form>
	{% endif %}

	{% if response is defined %}
	<p> {{ response }}</p>
	{% endif %}
<!-- END FLASK FORM -->

	<!-- tx response -->
	<p id="tx-response"> result...</p>

	<h1>Send a notification</h1>
	<!-- notify device -->
	<input type="button" name="notifydevice" value="Notify device" onclick="notifyDevice();" />
	<p id="notify-response"> result...</p>

	<h1>Show devices</h1>
	<!-- populated from db request -->
	<input type="button" name="refreshdevices" value="Refresh devices" onclick="getDevices();" />
	<div id="devices-list"></div>


	<script src="../js/post-tx.js"></script>

  </body>
</html>
